<div class="row mt-3">

    <div class="col-lg-6">
        <img id="card-border" style="display: none;" src="assets/img/plays/card-border.png">
        <img id="map" style="display: none;" src="assets/img/plays/map.png">
        <img id="bg-ghur-401" style="display: none;" src="assets/img/plays/bg-ghur-401.png">
        <canvas class="canvas rounded" id="canvas" width="1122" height="822">
            Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>

    <div class="col-lg-4 scroll-area-fade">
        <div class="scroll-area">
            <div class="accordion">

                {% include plays/section-characteristics.html %}
                {% include plays/section-objectives.html %}
                {% include plays/section-image.html %}
                {% include plays/section-text.html %}
                {% include plays/section-background.html %}
                {% include plays/section-actions.html %}

            </div>
        </div>
    </div>

</div>