<div class="row mt-3">

    <div class="col-lg-4">
        <img id="art" style="display: none;" src="assets/img/card/art.png">
        <img id="bg1" style="display: none;" src="assets/img/card/blank.png">
        <img id="frame" style="display: none;" src="assets/img/card/bloodbowl_frame.png">
        <img id="star_frame" style="display: none;" src="assets/img/card/bloodbowl_specialplayer_frame.png">
        <img id="border" style="display: none;" src="assets/img/card/bloodbowl_border.png">
        <img id="sf-" style="display: none;" src="assets/img/card/numbers/sf-.png">
        <img id="sf+" style="display: none;" src="assets/img/card/numbers/sf+.png">
        <img id="sf0" style="display: none;" src="assets/img/card/numbers/sf0.png">
        <img id="sf1" style="display: none;" src="assets/img/card/numbers/sf1.png">
        <img id="sf2" style="display: none;" src="assets/img/card/numbers/sf2.png">
        <img id="sf3" style="display: none;" src="assets/img/card/numbers/sf3.png">
        <img id="sf4" style="display: none;" src="assets/img/card/numbers/sf4.png">
        <img id="sf5" style="display: none;" src="assets/img/card/numbers/sf5.png">
        <img id="sf6" style="display: none;" src="assets/img/card/numbers/sf6.png">
        <img id="sf7" style="display: none;" src="assets/img/card/numbers/sf7.png">
        <img id="sf8" style="display: none;" src="assets/img/card/numbers/sf8.png">
        <img id="sf9" style="display: none;" src="assets/img/card/numbers/sf9.png">


        <canvas class="canvas rounded" id="canvas" width="822" height="1122 ">
            Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>

    <div class="col-lg-5 scroll-area-fade">
        <div class="scroll-area">
            <div class="accordion">

                {% include card/section-characteristics.html %}
                {% include card/section-image.html %}


            </div>

            {% include card/section-actions.html %}

        </div>
    </div>

</div>