<div class="row mt-3">

    <div class="col-lg-8">
        <div class="jumbotron">
            <h4 class="display-4">Bloodbowl Card Creator</h4>
            <hr class="my-4">
            <p> Using this is simple enough:</p>
            <ul>

                <li>Type in the name of the card in the Card name section,
                    add the card body text in the Body Text section, and type the card type in the footer.</li>
                <li>All the texts will centre align.</li>
                <li>The body text will attempt to carriage turn text that runs on, but you can also force returns by
                    adding
                    them in.</li>
                <li>Cards can be downloaded as a png by pressing 'Save card as image'.</li>
                <li>Cards an be saved as a json file by pressing 'Save card as file', you can then later upload the json
                    file using the choose file
                    button. This can be handy if you type up a card and then notice a typo later.</li>
                <li>Reset All will nuke everything back to default entries.</li>

            </ul>
            <ul>

                <li>The Plays are all easy enough. Name it in the Characteristics section.</li>
                <li>Change the circle colour and the text if you want to match a team.</li>
                <li>Each of the 11 players can be moved around using the X and Y and the Icon letter can be changed to any one or two characters. If you leave it blank or 0 the player will be removed.</li>
                <li>The optimal image and text are for overlays and the background is for your own pitch. Currently I just have the default available but you can upload your own.</li>

            </ul>

            <p>Card Backs</p>
            <ul>
                <li><a href="assets/img/card/BB_Card_Back_Players_Border.png">Player Card Back</a></li>
                <li><a href="assets/img/card/BB_Card_Back_Players.png">Player Card Back No Border</a></li>
                <li><a href="assets/img/special/BB_Card_Back_Special_Plays_Border.png">Special Play Card Back</a></li>
                <li><a href="assets/img/special/BB_Card_Back_Special_Plays_No_Border.png">Special Play Card Back No Border</a></li>
                <li><a href="assets/img/plays/BB_Card_Back_Plays_Border.png">Play Card Back</a></li>
                <li><a href="assets/img/plays/BB_Card_Back_Plays.png">Play Card Back No Border</a></li>

            </ul>

            <p>Printing Service</p>
            <p>To print the cards I use Printing Company - <a href="https://www.makeplayingcards.com">makeplayingcards.com</a> with the following details</p>
            <ul>
                <li>Custom Game Cards (63 X 88mm) Playing Cards</li>
                <li>2.48"x3.46" (63x88mm) (55 Cards)</li>
                <li>Card Stock: (S33) Superior Smooth</li>
                <li> Finishing: MPC Game Card Finish</li>
            </ul>

            <p> If you have any problems or have any suggestions please contact barrysheppard@gmail.com</p>

            </p>


            <p class="lead">Art taken from the BB Magic Set Editor by jtv123 on <a href="https://www.reddit.com/r/bloodbowl/comments/s79fcc/blood_bowl_star_playerpositionalspecial_plays/">Reddit</a>.</p>
            <p class="lead">Logos from the Cyanide Site from <a href="http://download.cyanide-studio.com/images-bb2/logos/">BB2</a> and  <a href="http://download.cyanide-studio.com/images-bb3/logos/">BB3</a>.</p>

            <p class="lead"><a href="https://github.com/barrysheppard/bloodbowl-card-creator" target="_blank">This<a>
                        is a
                        heavily hacked version of the <a
                            href="https://barrysheppard.github.io/warcry-card-creator/index.html">Warcry card
                            generator</a>
                        which
                        in turn is a fork of <a href="https://hennirocks.github.io/warcry-card-creator/">Hennirocks
                            version</a> which was fork of <a href="https://rachelnertia.github.io/warcry-card-creator"
                            target="_blank">@rachelnertia's work</a>.
            </p>
            <p>
                <a href="http://creativecommons.org/licenses/by-nc/4.0/" rel="license" target="_blank">
                    <img alt="Creative Commons license agreement" src="assets/img/creativecommons-by-nc.svg"
                        height="31">
                </a>
                <a id="octocat" href="https://github.com/barrysheppard/warcry-card-creator" target="_blank">
                    <svg width="31" height="31" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M896 128q209 0 385.5 103t279.5 279.5 103 385.5q0 251-146.5 451.5t-378.5 277.5q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-119-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-85-13.5q-45 113-8 204-79 87-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-39 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103zm-477 1103q3-7-7-12-10-3-13 2-3 7 7 12 9 6 13-2zm31 34q7-5-2-16-10-9-16-3-7 5 2 16 10 10 16 3zm30 45q9-7 0-19-8-13-17-6-9 5 0 18t17 7zm42 42q8-8-4-19-12-12-20-3-9 8 4 19 12 12 20 3zm57 25q3-11-13-16-15-4-19 7t13 15q15 6 19-6zm63 5q0-13-17-11-16 0-16 11 0 13 17 11 16 0 16-11zm58-10q-2-11-18-9-16 3-14 15t18 8 14-14z" />
                    </svg>
                </a>
            </p>
            <p>Please note that this is a non-commercial and non-profit project created by an enthusiast of
                Games
                Workshop products. This project is created and gets updated in personal freetime, it may get
                abandoned
                on the long run. Being open source, feel free to fork this project and help adapt and
                improve it.</p>
            <p><strong>This project is in no way endorsed or sanctioned by Games Workshop.</strong> Should
                the owner
                wish to authorise or cease useage then please <a href="https://github.com/barrysheppard"
                    target="_blank">get in touch</a>.</p>
            <p><small>Warhammer Age of Sigmar: Warcry &copy; Copyright Games Workshop Ltd. GW, Games
                    Workshop, Citadel,
                    White Dwarf, Space Marine, 40K, Warhammer, Warhammer 40,000, the 'Aquila' Double-headed
                    Eagle logo,
                    Warhammer Age of Sigmar, Battletome, Stormcast Eternals, and all associated logos,
                    illustrations,
                    images, names, creatures, races, vehicles, locations, weapons, characters, and the
                    distinctive
                    likenesses thereof, are either &reg; or &trade;, and/or &copy; Games Workshop Limited,
                    variably
                    registered around the world. All Rights Reserved.</small></p>
        </div>
    </div>

    <div class="col-lg-4"></div>

</div>