<div class="card">
    <!-- Existing Characteristics Section -->
    <div class="card-header" id="missionsHeadingFive">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#missionsCollapseFive"
                aria-expanded="false" aria-controls="missionsCollapseFive">
                Characteristics
            </button>
        </h2>
    </div>
    <div class="collapse" id="missionsCollapseFive">
        <div class="card-body">
            <div class="form-group">
                <label for="playName">Play Name</label>
                <input class="form-control" type="text" id="playName" name="playName" value=" "
                    oninput="onAnyChange()">
            </div>
            <div class="form-group">
                <label for="teamName">Team Name</label>
                <input class="form-control" type="text" id="teamName" name="teamName" value="General"
                    oninput="onAnyChange()">
            </div>
            <div class="form-group">
                <label for="colorPicker">Choose a circle colour:</label>
                    <input type="color" id="colorPicker" name="colorPicker" value="#FFFFFF" oninput="onAnyChange()">
                    <br>
            </div>
            <div class="form-group">
                <label for="colorPickerText">Choose a text colour:</label>
                    <input type="color" id="colorPickerText" name="colorPickerText" value="#000000" oninput="onAnyChange()">
                    <br>
            </div>
        </div>
    </div>
    
