<div class="card">
    <!-- Existing Characteristics Section -->
    <div class="card-header" id="missionsHeadingSix">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#missionsCollapseSix"
                aria-expanded="false" aria-controls="missionsCollapseSix">
                Text
            </button>
        </h2>
    </div>

    <div class="collapse" id="missionsCollapseSix">
        <div class="card-body">
            <div class="form-group">
                <label for="textValue">Text</label>
                <textarea class="form-control" id="textValue" name="textValue" rows="4"
                    oninput="onAnyChange()"></textarea>
            </div>
            <div class="form-group">
                <label for="fontSize">Font Size</label>
                <input type="number" class="form-control" id="fontSize" name="fontSize" min="1" step="1"  value="42"
                    oninput="onAnyChange()" />
            </div>
        </div>
    </div>
</div>
