<div class="card">

    <div class="card-header" id="fightersHeadingFive">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#fightersCollapseFive"
                aria-expanded="false" aria-controls="fightersCollapseFive">
                Player Stats
            </button>
        </h2>
    </div>

    <div class="collapse" id="fightersCollapseFive">
        <div class="card-body">

            <div class="form-group">
                <label for="cardName">Player Name</label>
                <input class="form-control" type="text" id="cardName" name="cardName" value=" " oninput="onAnyChange()">
            </div>

            <div class="form-group">
                <label for="teamName">Team Name</label>
                <input class="form-control" type="text" id="teamName" name="teamName" value=" " oninput="onAnyChange()">
            </div>

            <div class="form-group">
                <label for="cardText">Skills & Traits</label>
                <textarea class="form-control" id="cardText" name="cardText" rows="3"
                    oninput="onAnyChange()">Body Text</textarea>
            </div>

            <div class="form-group">
                <label for="positionName">Position</label>
                <input class="form-control" type="text" id="positionName" name="positionName" value=" " oninput="onAnyChange()">
            </div>


            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ma">MA</label>
                        <input class="form-control" id="ma" min="0" max="9" name="ma"
                            oninput="onAnyChange()" type="number" value="4">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="st">ST</label>
                        <input class="form-control" id="st" min="0" max="8" name="st"
                            oninput="onAnyChange()" type="number" value="3">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ag">AG</label>
                        <input class="form-control" id="ag" min="0" max="6" name="ag"
                            oninput="onAnyChange()" type="number" value="3">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="pa">PA</label>
                        <input class="form-control" id="pa" min="0" max="6" name="pa"
                            oninput="onAnyChange()" type="number" value="3">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="av">AV</label>
                        <input class="form-control" id="av" min="0" max="11" name="av"
                            oninput="onAnyChange()" type="number" value="9">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="footer">GP</label>
                    <input class="form-control" type="text" id="footer" name="footer" value=" " oninput="onAnyChange()">
                </div>
            </div>
            <div class="row">
                Primary Skills:

                <div class="col-sm-1">
                    <label for="p_agility">A</label>
                    <input type="checkbox" id="p_agility" name="p_agility" oninput="onAnyChange()">
                    
                </div>
                    <div class="col-sm-1"">
                        <label for="p_general">G</label>
                        <input type="checkbox" id="p_general" name="p_general" oninput="onAnyChange()">
                        
                    </div>
                    <div class="col-sm-1">
                        <label for="p_mutations">M</label>
                        <input type="checkbox" id="p_mutations" name="p_mutations" oninput="onAnyChange()">
                    </div>   
                    <div class="col-sm-1">
                        <label for="p_passing">P</label>
                        <input type="checkbox" id="p_passing" name="p_passing" oninput="onAnyChange()">
                    </div>

                    <div class="col-sm-1">
                        <label for="p_strength">S</label>
                        <input type="checkbox" id="p_strength" name="p_strength" oninput="onAnyChange()">
                    </div>
 

            </div>
            <div class="row">
                Secondary Skills:
                <div class="col-sm-1">
                    <label for="s_agility">A</label>
                    <input type="checkbox" id="s_agility" name="s_agility" oninput="onAnyChange()">
                </div>
                    <div class="col-sm-1">
                        <label for="s_general">G</label>
                        <input type="checkbox" id="s_general" name="s_general" oninput="onAnyChange()">
                    </div>
                    <div class="col-sm-1">
                        <label for="s_mutations">M</label>
                        <input type="checkbox" id="s_mutations" name="s_mutations" oninput="onAnyChange()">
                    </div>  
                    <div class="col-sm-1">
                        <label for="s_passing">P</label>
                        <input type="checkbox" id="s_passing" name="s_passing" oninput="onAnyChange()">
                    </div>
                    <div class="col-sm-1">
                        <label for="s_strength">S</label>
                        <input type="checkbox" id="s_strength" name="s_strength" oninput="onAnyChange()">
                    </div>
  

            </div>
        </div>
    </div>
</div>

</div>