<div class="card">

    <div class="card-header" id="fightersHeadingEight">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#fightersCollapseEight"
                aria-expanded="false" aria-controls="fightersCollapseEight">
                Logo
            </button>
        </h2>
    </div>

    <div class="collapse" id="fightersCollapseEight">
        <div class="card-body">
            <div id="gangLogoSelect" class="d-flex flex-wrap">


                <div>
                    <label for="checkbox-logos/logo_necromunda.svg">
                        <img src="assets/img/logos/logo_necromunda.svg" alt="Necromunda" data-toggle="tooltip"
                            title="Necromunda" width="50" height="50" />
                    </label>
                    <input type="radio" id="checkbox-logos/logo_necromunda.svg" name="deployment"
                        onchange="onGangLogoSelectionChanged(this, 'white')" style="display:none;">
                </div>


                <div>
                    <label for="checkbox-logos/logo_cawdor.svg">
                        <img src="assets/img/logos/logo_cawdor.svg" alt="Cawdor" data-toggle="tooltip" title="Cawdor"
                            width="50" height="50" />
                    </label>
                    <input type="radio" id="checkbox-logos/logo_cawdor.svg" name="deployment"
                        onchange="onGangLogoSelectionChanged(this, 'white')" style="display:none;">
                </div>

                <div>
                    <label for="checkbox-logos/logo_delaque.svg">
                        <img src="assets/img/logos/logo_delaque.svg" alt="Delaque" data-toggle="tooltip" title="Delaque"
                            width="50" height="50" />
                    </label>
                    <input type="radio" id="checkbox-logos/logo_delaque.svg" name="deployment"
                        onchange="onGangLogoSelectionChanged(this, 'white')" style="display:none;">
                </div>



                <div>
                    <label for="checkbox-logos/logo_escher.svg">
                        <img src="assets/img/logos/logo_escher.svg" alt="Escher" data-toggle="tooltip" title="Escher"
                            width="50" height="50" />
                    </label>
                    <input type="radio" id="checkbox-logos/logo_escher.svg" name="deployment"
                        onchange="onGangLogoSelectionChanged(this, 'white')" style="display:none;">
                </div>

                <div>
                    <label for="checkbox-logos/logo_goliath.svg">
                        <img src="assets/img/logos/logo_goliath.svg" alt="Goliath" data-toggle="tooltip" title="Goliath"
                            width="50" height="50" />
                    </label>
                    <input type="radio" id="checkbox-logos/logo_goliath.svg" name="deployment"
                        onchange="onGangLogoSelectionChanged(this, 'white')" style="display:none;">
                </div>

                <div>
                    <label for="checkbox-logos/logo_orlock.svg">
                        <img src="assets/img/logos/logo_orlock.svg" alt="Delaque" data-toggle="tooltip" title="Orlock"
                            width="50" height="50" />
                    </label>
                    <input type="radio" id="checkbox-logos/logo_orlock.svg" name="deployment"
                        onchange="onGangLogoSelectionChanged(this, 'white')" style="display:none;">
                </div>


                <div>
                    <label for="checkbox-logos/logo_vansaar.svg">
                        <img src="assets/img/logos/logo_vansaar.svg" alt="Van Saar" data-toggle="tooltip"
                            title="Van Saar" width="50" height="50" />
                    </label>
                    <input type="radio" id="checkbox-logos/logo_vansaar.svg" name="deployment"
                        onchange="onGangLogoSelectionChanged(this, 'white')" style="display:none;">
                </div>







                <div>
                    <label for="checkbox-logos/logo_chaoscult.svg">
                        <img src="assets/img/logos/logo_chaoscult.svg" alt="Cawdor" data-toggle="tooltip"
                            title="Chaos Cult" width="50" height="50" />
                    </label>
                    <input type="radio" id="checkbox-logos/logo_chaoscult.svg" name="deployment"
                        onchange="onGangLogoSelectionChanged(this, 'white')" style="display:none;">
                </div>


                <div>
                    <label for="checkbox-logos/logo_genestealercult.svg">
                        <img src="assets/img/logos/logo_genestealercult.svg" alt="Genestealer Cult"
                            data-toggle="tooltip" title="Genestealer Cult" width="50" height="50" />
                    </label>
                    <input type="radio" id="checkbox-logos/logo_genestealercult.svg" name="deployment"
                        onchange="onGangLogoSelectionChanged(this, 'white')" style="display:none;">
                </div>

                <div>
                    <label for="checkbox-logos/logo_venator.svg">
                        <img src="assets/img/logos/logo_venator.svg" alt="Venator" data-toggle="tooltip" title="Venator"
                            width="50" height="50" />
                    </label>
                    <input type="radio" id="checkbox-logos/logo_venator.svg" name="deployment"
                        onchange="onGangLogoSelectionChanged(this, 'white')" style="display:none;">
                </div>

                <div>
                    <label for="checkbox-logos/logo_enforcers.svg">
                        <img src="assets/img/logos/logo_enforcers.svg" alt="Palatine Enforcers" data-toggle="tooltip"
                            title="Palatine Enforcers" width="50" height="50" />
                    </label>
                    <input type="radio" id="checkbox-logos/logo_enforcers.svg" name="deployment"
                        onchange="onGangLogoSelectionChanged(this, 'white')" style="display:none;">
                </div>
                <div>
                    <label for="checkbox-logos/logo_ashwastenomads.svg">
                        <img src="assets/img/logos/logo_ashwastenomads.svg" alt="Ash Waste Nomads" data-toggle="tooltip"
                            title="Ash Waste Nomads" width="50" height="50" />
                    </label>
                    <input type="radio" id="checkbox-logos/logo_ashwastenomads.svg" name="deployment"
                        onchange="onGangLogoSelectionChanged(this, 'white')" style="display:none;">
                </div>


                <div>
                    <label for="checkbox-logos/logo_aranthiansuccession.svg">
                        <img src="assets/img/logos/logo_aranthiansuccession.svg" alt="Aranthian Succession"
                            data-toggle="tooltip" title="Aranthian Succession" width="50" height="50" />
                    </label>
                    <input type="radio" id="checkbox-logos/logo_aranthiansuccession.svg" name="deployment"
                        onchange="onGangLogoSelectionChanged(this, 'white')" style="display:none;">
                </div>

                <div>
                    <label for="checkbox-assets/img/blank2.gif">
                        <img src="assets/img/blank2.gif" alt="Deployment None" data-toggle="tooltip"
                            title="Deployment None" width="50" height="50" />
                    </label>
                    <input checked type="radio" id="checkbox-assets/img/blank2.gif" name="deployment"
                        onchange="onGangLogoSelectionChanged(this, 'white')" style="display:none;">
                </div>
            </div>
        </div>
    </div>
</div>